<form name="employeeForm">
    <div style="margin-right: auto; margin-left: auto; width: 700px;" ng-controller="ListUsersController" ng-cloak>
        <md-content class="md-padding" layout="column" layout="row">
            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card>
                    <md-card-title> 
                        <md-card-title-text>
                            <span class="md-headline">Employee</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-content layout-padding>
                            <md-input-container class="md-block">
                                <label>First Name</label>
                                <input required name="fisrtName" ng-model="firstName">
                                <div ng-messages="employeeForm.fisrtName.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Last Name</label>
                                <input required name="lastName" ng-model="lastName">
                                <div ng-messages="employeeForm.lastName.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Age</label>
                                <input required type="number" name="age" ng-model="age" ng-pattern="/^[0-9]*$/" />
                                <div ng-messages="employeeForm.lastName.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100">
                                <aps-upload-file></aps-upload-file>
                            </md-input-container>
                            <md-input-container  flex="50">
                                <label>Birthdate</label>
                                <md-datepicker ng-model="birthday"></md-datepicker>
                            </md-input-container>
                        </md-content>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="addEmployee()">Save</md-button>
                        <md-button>Update</md-button>
                        <md-button>Clear</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    </div>
</form>

<div style="margin-right: auto; margin-left: auto; width: 90%;" ng-controller="ListUsersController" ng-cloak>
    <md-content class="md-padding" layout="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title> 
                    <md-card-title-text>
                        <span class="md-headline">Employees List</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-controller="ListUsersController">
                        <div layout="row" layout-xs="column">
                            <div flex>
                                <h2>First Name</h2>
                            </div>
                            <div flex>
                                <h2>Last Name</h2>
                            </div>
                            <div flex="5">
                                <h2>Age</h2>
                            </div>
                            <div flex>
                                <h2>Birthdate</h2>
                            </div>
                            <div flex>
                                <h2>Image</h2>
                            </div>
                            <div flex>
                                <h2>Edit</h2>
                            </div>
                            <div flex>
                                <h2>Delete</h2>
                            </div>
                        </div>
                        <div ng-click="bindSelectedEmployee(employee)" ng-repeat="employee in employees" layout="row" layout-xs="column">
                            <div flex>
                                <p>{{ employee.firstName }}</p>
                            </div>
                            <div flex>
                                <p>{{ employee.lastName }}</p>
                            </div>
                            <div flex="5">
                                <p>{{ employee.age }}</p>
                            </div>
                            <div flex>
                                <p>{{ employee.birthdate }}</p>
                            </div>
                            <div flex>
                                <a href="{{ employee.image }}" target="_blank">
                                    <img src="{{ employee.image }}" style="width:50px;height:50px;">
                                </a>
                            </div>
                            <div flex>
                                <md-button class="md-raised" ng-click="editEmployee(employee)"> Edit </md-button>
                            </div>
                            <div flex>
                                <md-button class="md-raised" ng-click="deleteEmployee(employee)"> Delete </md-button>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
